@{
    ViewBag.Title = "Liên hệ thư viện";
    Layout = "~/Views/Shared/_LayoutHomeClient.cshtml";
    var patterm = "@";
}

<!-- Start: Contact Us Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="contact-main">
                <div class="contact-us">
                    <div class="container">
                        <div class="contact-location">
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i> Office Address</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li>121 King Street, Melbourne </li>
                                            <li>Victoria 3000 Australia</li>
                                            <li>PO Box 16122</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li>121 King Street, Melbourne </li>
                                            <li>Victoria 3000 Australia</li>
                                            <li>PO Box 16122</li>
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i> Office Address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-fax" aria-hidden="true"></i> Phone and Fax</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="fax:(001)-254-7359">Fax: (001)-254-7359</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="fax:(001)-254-7359">Fax: (001)-254-7359</a></li>
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-fax" aria-hidden="true"></i> Phone and Fax</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li>www.libraria.com</li>
                                            <li>support@libraria.com</li>
                                            <li>info@libraria.com</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li><a href="http://www.libraria.com/">www.libraria.com </a></li>
                                            <li><a href="mailto:support@libraria.com">support@libraria.com</a></li>
                                            <li><a href="mailto:info@libraria.com">info@libraria.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Contact Us Section -->
