USE [QLTHUVIEN]
GO
/****** Object:  Table [dbo].[BAIDANGTHONGTIN]    Script Date: 2/24/2021 10:04:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIDANGTHONGTIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MABAIDANG] [varchar](20) NOT NULL,
	[TIEUDE] [nvarchar](50) NOT NULL,
	[NGAYDANG] [date] NOT NULL,
	[DIADIEM] [nvarchar](100) NULL,
	[TACGIA] [varchar](20) NOT NULL,
	[NOIDUNG] [text] NULL,
	[THOIGIANBATDAU] [datetime] NOT NULL,
	[THOIGIANKETTHUC] [datetime] NOT NULL,
	[HINHANH1] [varchar](50) NOT NULL,
	[HINHANH2] [varchar](50) NULL,
 CONSTRAINT [PK__BAIDANGT__C0BF98A2EF57F43D] PRIMARY KEY CLUSTERED 
(
	[MABAIDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MABINHLUAN] [int] IDENTITY(1,1) NOT NULL,
	[MASACH] [varchar](20) NULL,
	[MANGUOIBINHLUAN] [varchar](20) NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[THOIGIAN] [date] NULL,
	[MAREPBINHLUAN] [int] NULL,
 CONSTRAINT [PK__BINHLUAN__1D9D3DB0BCB6E20F] PRIMARY KEY CLUSTERED 
(
	[MABINHLUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETMUONTRASACH]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONTRASACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAMUONTRASACH] [varchar](20) NULL,
	[THOIGIANMUON] [int] NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRA] [date] NULL,
	[GHICHUMUONTRA] [nvarchar](100) NULL,
 CONSTRAINT [PK__CHITIETM__3214EC2734EDCD0E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADOCGIA] [varchar](20) NOT NULL,
	[TENDOCGIA] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATAIKHOAN] [varchar](20) NULL,
	[MASOTHE] [varchar](20) NULL,
 CONSTRAINT [PK__DOCGIA__8CA726FC3F8ED9B7] PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINHVUC]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINHVUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALINHVUC] [varchar](20) NOT NULL,
	[TENLINHVUC] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](300) NULL,
 CONSTRAINT [PK__LINHVUC__DAD704015364DBF5] PRIMARY KEY CLUSTERED 
(
	[MALINHVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHELOAI] [varchar](20) NOT NULL,
	[TENTHELOAI] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](300) NULL,
	[KIHIEU] [nvarchar](30) NULL,
 CONSTRAINT [PK__LOAISACH__AC8D7C2BDC938B7C] PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[MALOAI] [int] NOT NULL,
	[TENLOAITAIKHOAN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONTRASACH]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRASACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHE] [varchar](20) NULL,
	[MASACH] [varchar](20) NULL,
	[MAMUONTRASACH] [varchar](20) NOT NULL,
 CONSTRAINT [PK__MUONTRAS__3214EC274E498EF3] PRIMARY KEY CLUSTERED 
(
	[MAMUONTRASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [varchar](20) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[MATAIKHOAN] [varchar](20) NULL,
 CONSTRAINT [PK__NHANVIEN__7E46DD913AC67679] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANXB] [varchar](20) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[NGUOIDAIDIEN] [nvarchar](200) NULL,
	[TRANGWEB] [varchar](100) NULL,
 CONSTRAINT [PK__NHAXUATB__7ABD9EF23F98066F] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASACH] [varchar](20) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[SOTRANG] [int] NULL,
	[FILEPATH] [varchar](max) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[LUOTXEM] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[NGONNGU] [nvarchar](100) NULL,
	[MALOAISACH] [varchar](20) NULL,
	[MALINHVUC] [varchar](20) NULL,
	[MATACGIA] [varchar](20) NULL,
	[MANHAXUATBAN] [varchar](20) NULL,
	[NGAYTAILEN] [date] NULL,
	[GHICHU] [nvarchar](1000) NULL,
	[NAMXUATBAN] [date] NULL,
 CONSTRAINT [PK__SACH__3FC48E4CF37049B7] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATACGIA] [varchar](20) NOT NULL,
	[TENTACGIA] [nvarchar](100) NULL,
	[LINKWEBSITE] [varchar](max) NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__TACGIA__C57C166D60C4B9C0] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTAIKHOAN] [varchar](20) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LOAITAIKHOAN] [int] NOT NULL,
	[SOTHICHDOC] [nvarchar](100) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DANGNHAPGANNHAT] [datetime] NULL,
 CONSTRAINT [PK__TAIKHOAN__DE94905B50CE25E0] PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHE] [varchar](20) NOT NULL,
	[TENCHUTHE] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYCAP] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[GIOITINH] [int] NULL,
 CONSTRAINT [PK__THETHUVI__58248210A4987FA2] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAIDANGTHONGTIN] ON 
GO
SET IDENTITY_INSERT [dbo].[BAIDANGTHONGTIN] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRASACH] ON 
GO
INSERT [dbo].[CHITIETMUONTRASACH] ([ID], [MAMUONTRASACH], [THOIGIANMUON], [NGAYMUON], [NGAYTRA], [GHICHUMUONTRA]) VALUES (2006, N'VH8954', 120, CAST(N'2021-02-24' AS Date), CAST(N'2021-02-24' AS Date), NULL)
GO
INSERT [dbo].[CHITIETMUONTRASACH] ([ID], [MAMUONTRASACH], [THOIGIANMUON], [NGAYMUON], [NGAYTRA], [GHICHUMUONTRA]) VALUES (2007, N'VZ7448', 120, CAST(N'2021-02-24' AS Date), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRASACH] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 
GO
INSERT [dbo].[DOCGIA] ([ID], [MADOCGIA], [TENDOCGIA], [DIACHI], [MATAIKHOAN], [MASOTHE]) VALUES (1, N'SV12132', N'NGUYỄN VĂN NAM', N'DUY HẢI', NULL, N'SV2019001')
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[LINHVUC] ON 
GO
INSERT [dbo].[LINHVUC] ([ID], [MALINHVUC], [TENLINHVUC], [GHICHU]) VALUES (1, N'1', N'VẬT LÝ', N'lĩnh vưc vật lý')
GO
INSERT [dbo].[LINHVUC] ([ID], [MALINHVUC], [TENLINHVUC], [GHICHU]) VALUES (2, N'2', N'HÓA HỌC', N'lĩnh vực hóa học')
GO
INSERT [dbo].[LINHVUC] ([ID], [MALINHVUC], [TENLINHVUC], [GHICHU]) VALUES (4, N'RA7099', N'Văn học', N'văn học trung đại và hiện đại')
GO
SET IDENTITY_INSERT [dbo].[LINHVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 
GO
INSERT [dbo].[LOAISACH] ([ID], [MATHELOAI], [TENTHELOAI], [GHICHU], [KIHIEU]) VALUES (1, N'1', N'CHUYÊN KHẢO', N'Nhằm giúp bạn đọc biết nhiều hơn về một dân tộc đã giành được độc lập và tự do qua nhiều cuộc đấu tranh gian khổ cuốn Từ Điển Pháp Việt.', N'red')
GO
INSERT [dbo].[LOAISACH] ([ID], [MATHELOAI], [TENTHELOAI], [GHICHU], [KIHIEU]) VALUES (2, N'2', N'GIÁO KHOA', N'Nhằm giúp bạn đọc biết nhiều hơn về một dân tộc đã giành được độc lập và tự do qua nhiều cuộc đấu tranh gian khổ cuốn Từ Điển Pháp Việt này đã được cho biên soạn.', N'green')
GO
INSERT [dbo].[LOAISACH] ([ID], [MATHELOAI], [TENTHELOAI], [GHICHU], [KIHIEU]) VALUES (3, N'3', N'THỰC HÀNH', N'Nhằm giúp bạn đọc biết nhiều hơn về một dân tộc đã giành được độc lập và tự do qua nhiều cuộc đấu tranh gian khổ cuốn Từ Điển Pháp Việt này đã được cho biên soạn.', N'red')
GO
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
GO
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAITAIKHOAN]) VALUES (1, N'BẠN ĐỌC')
GO
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAITAIKHOAN]) VALUES (2, N'NHÂN VIÊN')
GO
SET IDENTITY_INSERT [dbo].[MUONTRASACH] ON 
GO
INSERT [dbo].[MUONTRASACH] ([ID], [MATHE], [MASACH], [MAMUONTRASACH]) VALUES (2006, N'TV2021BVQ', N'QA3330', N'VH8954')
GO
INSERT [dbo].[MUONTRASACH] ([ID], [MATHE], [MASACH], [MAMUONTRASACH]) VALUES (2007, N'TV2021DIF', N'QA3330', N'VZ7448')
GO
SET IDENTITY_INSERT [dbo].[MUONTRASACH] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 
GO
INSERT [dbo].[NHANVIEN] ([ID], [MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [SODIENTHOAI], [MATAIKHOAN]) VALUES (1, N'NV001', N'NGUYỄN VĂN NAM', CAST(N'1998-12-02' AS Date), N'098123344', NULL)
GO
INSERT [dbo].[NHANVIEN] ([ID], [MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [SODIENTHOAI], [MATAIKHOAN]) VALUES (2, N'NV002', N'NGUYỄN TÚ', CAST(N'1999-09-09' AS Date), N'0987564456', NULL)
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 
GO
INSERT [dbo].[NHAXUATBAN] ([ID], [MANXB], [TENNXB], [DIACHI], [EMAIL], [NGUOIDAIDIEN], [TRANGWEB]) VALUES (1, N'NXB0001', N'NHÀ XUẤT BẢN KIM ĐỒNG', N'NGUYỄN VĂN TRỖI HÀ NÔI VIỆT NAM', N'KIMDONG123@GMAIL.COM', N'NGUYỄN VĂN HAI', N'KIMDONG@GMAIL.COM')
GO
INSERT [dbo].[NHAXUATBAN] ([ID], [MANXB], [TENNXB], [DIACHI], [EMAIL], [NGUOIDAIDIEN], [TRANGWEB]) VALUES (2, N'RYAJBC', N'NHÀ XUẤT BẢN TUỔI TRẺ', N'DUY HẢI DUY TIÊN HÀ NAM', N'TUOITRE123@EMAIL.COMssss', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 
GO
INSERT [dbo].[SACH] ([ID], [MASACH], [TENSACH], [SOTRANG], [FILEPATH], [HINHANH], [LUOTXEM], [TRANGTHAI], [NGONNGU], [MALOAISACH], [MALINHVUC], [MATACGIA], [MANHAXUATBAN], [NGAYTAILEN], [GHICHU], [NAMXUATBAN]) VALUES (4024, N'QA3330', N'Sách công nghệ thông tin ', 0, N'QA3330.pdf', N'QA3330.jpg', 0, 1, N'Tiếng Anh', N'1', N'1', N'VS0874', N'NXB0001', CAST(N'2021-02-24' AS Date), N'sách hay lắm', CAST(N'2019-02-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 
GO
INSERT [dbo].[TACGIA] ([ID], [MATACGIA], [TENTACGIA], [LINKWEBSITE], [GHICHU]) VALUES (5, N'CH654003', N'LÊ VĂN BAN', N'levanban.comdddddddd', N'dddddddddddddddddddddddddddđ')
GO
INSERT [dbo].[TACGIA] ([ID], [MATACGIA], [TENTACGIA], [LINKWEBSITE], [GHICHU]) VALUES (2010, N'VS0874', N'LÊ BÁ KHẢI', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 
GO
INSERT [dbo].[TAIKHOAN] ([ID], [TENTAIKHOAN], [MATKHAU], [EMAIL], [LOAITAIKHOAN], [SOTHICHDOC], [HOTEN], [DANGNHAPGANNHAT]) VALUES (2, N'admin', N'123456', NULL, 2, NULL, NULL, CAST(N'2021-02-24T21:50:47.807' AS DateTime))
GO
INSERT [dbo].[TAIKHOAN] ([ID], [TENTAIKHOAN], [MATKHAU], [EMAIL], [LOAITAIKHOAN], [SOTHICHDOC], [HOTEN], [DANGNHAPGANNHAT]) VALUES (2004, N'admin2', N'1234567', NULL, 2, NULL, NULL, NULL)
GO
INSERT [dbo].[TAIKHOAN] ([ID], [TENTAIKHOAN], [MATKHAU], [EMAIL], [LOAITAIKHOAN], [SOTHICHDOC], [HOTEN], [DANGNHAPGANNHAT]) VALUES (2003, N'nguyenvannam', N'123456', NULL, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THETHUVIEN] ON 
GO
INSERT [dbo].[THETHUVIEN] ([ID], [MATHE], [TENCHUTHE], [NGAYSINH], [DIACHI], [NGAYCAP], [NGAYHETHAN], [GIOITINH]) VALUES (1, N'SV2019001', N'NGUYỄN VAN NAM', CAST(N'1999-09-08' AS Date), N'NGUYỄN', CAST(N'2019-09-09' AS Date), CAST(N'2025-09-09' AS Date), 1)
GO
INSERT [dbo].[THETHUVIEN] ([ID], [MATHE], [TENCHUTHE], [NGAYSINH], [DIACHI], [NGAYCAP], [NGAYHETHAN], [GIOITINH]) VALUES (1006, N'TV2021169', N'Nguyễn Văn Nam', CAST(N'2021-01-24' AS Date), N'Duy Hải-Duy Tiên- Hà Nam', CAST(N'2021-01-31' AS Date), CAST(N'2021-01-31' AS Date), 1)
GO
INSERT [dbo].[THETHUVIEN] ([ID], [MATHE], [TENCHUTHE], [NGAYSINH], [DIACHI], [NGAYCAP], [NGAYHETHAN], [GIOITINH]) VALUES (1007, N'TV2021234', N'Nguyễn Văn nam', CAST(N'2021-01-23' AS Date), N'Duy Hải-Duy Tiên- Hà Nam', CAST(N'2021-02-07' AS Date), CAST(N'2024-12-28' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[THETHUVIEN] OFF
GO
ALTER TABLE [dbo].[BAIDANGTHONGTIN]  WITH CHECK ADD  CONSTRAINT [FK__BAIDANGTH__TACGI__02084FDA] FOREIGN KEY([TACGIA])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[BAIDANGTHONGTIN] CHECK CONSTRAINT [FK__BAIDANGTH__TACGI__02084FDA]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK__BINHLUAN__MANGUO__7F2BE32F] FOREIGN KEY([MANGUOIBINHLUAN])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK__BINHLUAN__MANGUO__7F2BE32F]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK__BINHLUAN__MASACH__7E37BEF6] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK__BINHLUAN__MASACH__7E37BEF6]
GO
ALTER TABLE [dbo].[CHITIETMUONTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUONTRASACH_MUONTRASACH] FOREIGN KEY([MAMUONTRASACH])
REFERENCES [dbo].[MUONTRASACH] ([MAMUONTRASACH])
GO
ALTER TABLE [dbo].[CHITIETMUONTRASACH] CHECK CONSTRAINT [FK_CHITIETMUONTRASACH_MUONTRASACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK__DOCGIA__MASOTHE__2F10007B] FOREIGN KEY([MASOTHE])
REFERENCES [dbo].[THETHUVIEN] ([MATHE])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK__DOCGIA__MASOTHE__2F10007B]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK__DOCGIA__MATAIKHO__2E1BDC42] FOREIGN KEY([MATAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK__DOCGIA__MATAIKHO__2E1BDC42]
GO
ALTER TABLE [dbo].[MUONTRASACH]  WITH CHECK ADD  CONSTRAINT [FK__MUONTRASA__MASAC__403A8C7D] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUONTRASACH] CHECK CONSTRAINT [FK__MUONTRASA__MASAC__403A8C7D]
GO
ALTER TABLE [dbo].[MUONTRASACH]  WITH CHECK ADD  CONSTRAINT [FK__MUONTRASA__MATHE__3F466844] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THETHUVIEN] ([MATHE])
GO
ALTER TABLE [dbo].[MUONTRASACH] CHECK CONSTRAINT [FK__MUONTRASA__MATHE__3F466844]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK__NHANVIEN__MATAIK__29572725] FOREIGN KEY([MATAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENTAIKHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK__NHANVIEN__MATAIK__29572725]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK__SACH__MALINHVUC__3A81B327] FOREIGN KEY([MALINHVUC])
REFERENCES [dbo].[LINHVUC] ([MALINHVUC])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK__SACH__MALINHVUC__3A81B327]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK__SACH__MALOAISACH__398D8EEE] FOREIGN KEY([MALOAISACH])
REFERENCES [dbo].[LOAISACH] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK__SACH__MALOAISACH__398D8EEE]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK__SACH__MANHAXUATB__3C69FB99] FOREIGN KEY([MANHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK__SACH__MANHAXUATB__3C69FB99]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK__SACH__MATACGIA__3B75D760] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK__SACH__MATACGIA__3B75D760]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAIKHOAN__LOAITA__267ABA7A] FOREIGN KEY([LOAITAIKHOAN])
REFERENCES [dbo].[LOAITAIKHOAN] ([MALOAI])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK__TAIKHOAN__LOAITA__267ABA7A]
GO
/****** Object:  StoredProcedure [dbo].[GetSachMuonFromMaThe]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetSachMuonFromMaThe] @mathe varchar(20)
as 
begin
	select SACH.*, CHITIETMUONTRASACH.THOIGIANMUON, NGAYMUON,GHICHUMUONTRA
	from MUONTRASACH, CHITIETMUONTRASACH,SACH
	where MUONTRASACH.MATHE = @mathe and MUONTRASACH.ID = CHITIETMUONTRASACH.MAMUONTRASACH
	and SACH.MASACH = MUONTRASACH.MASACH

end
GO
/****** Object:  StoredProcedure [dbo].[GetTopSach_LuotXem]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTopSach_LuotXem] 
as 
begin
select top(3) *
from SACH order by LUOTXEM desc
end
GO
/****** Object:  StoredProcedure [dbo].[SearchSachTacgia]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SearchSachTacgia] @noidung nvarchar(100)
AS 
BEGIN

SELECT  SACH.* FROM TACGIA,SACH
where SACH.MATACGIA = TACGIA.MATACGIA
and TACGIA.TENTACGIA like '%'+@noidung+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[TOPNEWBOOK10]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TOPNEWBOOK10] 
AS 
BEGIN

SELECT top(10) * FROM SACH
ORDER BY SACH.NGAYTAILEN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TOPPOPULARBOOK]    Script Date: 2/24/2021 10:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TOPPOPULARBOOK]
AS 
BEGIN

SELECT top(10) * FROM SACH
ORDER BY SACH.LUOTXEM DESC
END
GO
