
@{
    ViewBag.Title = "Admin-Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="/Admin">Thư Viện Số</a>
            </div>
        </header>
        <section class="services">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/Admin/Scan">
                            <div class="service-item first-item">
                                <div class="icon"></div>
                                <h4>QUÉT VĂN BẢN</h4>
                                <p>Kết nối máy quét và chuyển đổi tài liệu bản cứng thành bản số</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/Admin/Scan">
                            <div class="service-item second-item">
                                <div class="icon"></div>
                                <h4>QUẢN LÝ THƯ VIỆN ĐIỆN TỬ</h4>
                                <p>Tạo ra CSDL, tìm kiếm và quản lí thư viện điện tử</p>
                            </div>
                            </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/Admin/Scan">
                            <div class="service-item first-item">
                                <div class="icon"></div>
                                <h4>QUÉT VĂN BẢN</h4>
                                <p>Kết nối máy quét và chuyển đổi tài liệu bản cứng thành bản số</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/Admin/Scan">
                            <div class="service-item second-item">
                                <div class="icon"></div>
                                <h4>QUẢN LÝ THƯ VIỆN ĐIỆN TỬ</h4>
                                <p>Tạo ra CSDL, tìm kiếm và quản lí thư viện điện tử</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>