
@{
    ViewBag.Title = "MuonSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/onscan.min.js"></script>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Mượn sách</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                <a href="index.html">Trang chủ</a></li>
                                <li class="breadcrumb-item">
                                    <a href="index.html">Mượn sách</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p" style="text-align:center">
                            
                            <img class="form-control" style="min-height:200px;min-width:200px;" id="imagechuthe" src="~/Content/ClientContent/images/Anonymous.jpg" alt="Ảnh đại diện">
                            <input  style="text-align:center" id="Mathe" name="Mathe" type="text" class="form-control" placeholder="Nhập mã thẻ độc giả" />
                            <h3 id="tendocgia">Tên độc giả</h3>
                        
                        
                        
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <input onclick="ThemHangMoi('','','')" style="right:15px;left:auto;position:initial;" class="btn btn-primary " type="button" value="Thêm sách mượn" />

                        <div class="profile-tab height-100-p">

                            <div class="tab height-100-p">

                                @* Bảng sách cho mượn offline *@
                                    <form action="/Admin/MuonSach" enctype="multipart/form-data" method="post">
                                        <input name="mathe" value="" id="mathe" disabled style="display:none;"/>
                                        <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" style="font-size:10px;">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã sách</th>
                                                    <th>Tên sách</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Ngày mượn</th>
                                                    <th>Thời hạn</th>
                                                    <th>Xóa</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                            </tbody>
                                        </table>
                                        <input onclick="GuiTTMuonSach()" class="form-control btn btn-success " type="button" value="Xác nhận" />
                                        
                                    </form>
                                </div>
                                @* Bảng sách cho mượn offline *@
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            Thư viện số hóa -  <a href="/" target="_blank">Ban cơ yếu chính phủ</a>
        </div>
    </div>

<style>
    table input[type=text],table textarea,table input[type=number] {
        border: none;
        text-align:center;
        max-width:120px;
        min-width: 70px;
    }
    table input[type=number] {
        border: none;
        text-align:center;
        max-width:100px;
        min-width: 30px;
    }
</style>

<script>


    $(document).ready(function () {

        var actions = $("table td:last-child").html();
        // Append table with add row form on add new button click

        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            $(this).parents("tr").remove();
            index--;

        });
        //focus vào mathe
        $(document).on("change", "#Mathe", function () {
            GetTheFrMathe($('#Mathe').val())
        });
        //MaSach
        $(document).on("change", ".MaSach", function () {
            var formData = new FormData();
            var SachCode = $(this).val();
            var that = this;
            var parent = $(this).parents("tr");//thanhf phan cha
            formData.append('masach', SachCode)
            $.ajax({
                url: 'GetSachFrMasach',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    if (data.loi == "1") {
                        alert("Sách khong ton tai!!!");
                        $(that).val("");
                        return;
                    }
                    if (data.loi == "2") {
                        alert("Sách đã mượn!!!");
                        $(that).val("");
                        return;
                    }
                    //SET GIA TRỊ các thẻ cùng hàng
                    $(parent).find('img').attr('src', '/Content/CLientContent/images/Books/' + data.hinhanh);
                    $(parent).find('text').text(data.tensach);
                },
                error: function (data) {
                    alert("Lỗi hoặc sách không ton tai!!!")
                }
            });
        });
         
        $(document).on("blur", ".date-picker", function () {
            //kiểm tra xem định dạng date chưa
            var dateVal = $(this).val();
            if (testDate(dateVal)) {
                
                return;
            }
            else {
                $(this).val(getMonthDays(dateVal));
                return;
            }
        });



        onScan.attachTo(document, {
            suffixKeyCodes: [13], // enter-key expected at the end of a scan
            reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
            onScan: function (sCode, iQty) { // Alternative to document.addEventListener('scan')
                if (!quetthe) {
                    //lấy thông tin thẻ khi quẹt thẻ vẫn là false
                    GetTheFrMathe(sCode);
                }
                    //nếu đã quét mã vạch hoặc nhập bằng tay rồi
                else {
                    //lần quẹt tiếp theo sẽ thêm sách
                    console.log(sCode)
                    GetSachFrMasach(sCode);
                }
                
            },
            onKeyDetect: function (iKeyCode) { // output all potentially relevant key events - great for debugging!
                console.log('Nhấn: ' + iKeyCode);
            }
        });
    });

    //gưi thông tin mượn sách lên server
    function GuiTTMuonSach() {
        var lstmasach = [];

        var lstthoigianmuon = [];

        $('.lstmasach').each(function (index) {
            lstmasach[index] = $(this).val();
        });

        $('.lstthoigianmuon').each(function (index) {
            lstthoigianmuon[index] = $(this).val();
        });

        
        
        var mathe = $('#Mathe').val();
        if (mathe == undefined || mathe == null|| mathe==''||lstmasach.length<1) {
            alert("Chưa nhập thông tin");
            return;
        }
        //GOI AJAX
        var formData = new FormData();
        formData.append('lstmasach', lstmasach);
        formData.append('lstthoigianmuon', lstthoigianmuon);
        formData.append('mathe', mathe);


        $.ajax({
            url: 'MuonSach',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data == "1") {
                    var success = '<div id="alertSuccess" class="alert alert-success alert-dismissible fade show" role="alert">'+
                    '<strong id="alertTxt">Thành công</strong>'+
                                   '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                                        '<span aria-hidden="true">×</span>'+
                                        '</button>' +
                                    
                                '</div>'

                    
                    $('.tab').append(success);

                    return;
                }
                else {
                    var success = '<div id="alertError" class="alert alert-error alert-dismissible fade show" role="alert">' +
                    '<strong id="alertTxt">Thành công</strong>' +
                                   '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                        '<span aria-hidden="true">×</span>' +
                                        '</button>' +
                                '</div>'


                    $('.tab').append(success);
                }
            },
            error: function (data) {
                alert("Server không phục vụ bây giờ.Kiểm tra kết nối đường truyền!!!")
            }
        });

    }

    //lấy thông tin thẻ nhập bằng tay
    function GetTheFrMathe(mathe1) {
        $('#mathe').val(mathe1);
        $('#Mathe').val(mathe1);

        //GOI AJAX
        var formData = new FormData();
        formData.append('mathe', mathe1)
        $.ajax({
            url: 'GetTheFrMathe',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.loi == "1") {
                    alert("Thẻ không tồn tại!!!");
                    quetthe = false;
                    return;
                }
                quetthe = true;
                $('#tendocgia').text(data.hoten);
                $("#imagechuthe").attr("src", "/Content/AdminContent/Book.jpg");
            },
            error: function (data) {
                alert("Server không phục vụ bây giờ.Kiểm tra kết nối đường truyền!!!")
            }
        });

    }

    var index = $("table tbody tr:last-child").index() + 1;
    //them hàng mới
    function ThemHangMoi(masach, tensach, hinhanh) {
        index++;
        var datenew = new Date();
        var month = datenew.getMonth() + 1;
        if (month < 10) {
            month = '0' + month;
        }
        var day = datenew.getDate();
        if (day < 10) {
            day = '0' + 1;
        }
        var date = day + '/' + month + '/' + datenew.getFullYear();
        var row = '<tr>' +
                '<td>' +
                `${index}` +
                '<td><input value="' + masach + '" style="max-width:70px;" type="text" name="lstmasach" class="lstmasach MaSach" placeholder="Mã sách"/></td>' +
                '<td style="max-width:150px"><text style="max-width:70px">'+tensach+'</text></td>' +
                '<td><img class="form-control" style="height:80px;width:80px;" src="/Content/ClientContent/images/Books/' + hinhanh + '" alt="Ảnh sách"></td>' +
                '<td><input value="' + date + '" class="form-control date-picker" placeholder="Chọn ngày" type="text"></td>' +
                '<td><input value="120" class="form-control lstthoigianmuon" placeholder="Thời gian mượn" name="lstthoigianmuon" type="number"></td>' +
                '<td><a class="delete" title="Xóa"><i class="fa fa-remove" style="color:#22a1be;font-size:20px;text-align:center"></i></a></td>' +
                '</tr>';
        $("table").append(row);
    }



    //hàm quẹt thẻ lấy thông tin sách
    function GetSachFrMasach(SachCode) {
        //GOI AJAX
        var formData = new FormData();
        
        formData.append('masach', SachCode)
        $.ajax({
            url: 'GetSachFrMasach',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.loi == "1") {
                    alert("Sách khong ton tai!!!");
                    return;
                }
                else if (data.loi == "2") {
                    alert("Sách đã mượn!!!");
                    return;
                }
                //thêm hàng mới vào bảng
                ThemHangMoi(data.masach, data.tensach, data.hinhanh);

            },
            error: function (data) {
                alert("Lỗi hoặc sách không ton tai!!!")
            }
        });

    }

    //test date
    function testDate(str) {
        var t = str.match(/^(\d{2})\/(\d{2})\/(\d{4})$/);
        if (t === null) return false;
        var d = parseInt(t[1]), m = parseInt(t[2], 10), y = parseInt(t[3], 10);
        //below should be more acurate algorithm
        if (m >= 1 && m <= 12 && d >= 1 && d <= 31) {
            return true;
        }
        return false;
    }

    //chuyển tháng name thành number

    function getMonthDays(MonthYear) {
        var months = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ];

        var Value = MonthYear.split(" ");
        var month = (months.indexOf(Value[1]) + 1);
        if (month < 10) {
            month = '0' + month;
        }

        var date = Value[0];

        return date + '/' + month + '/' + Value[2];
    }


    var quetthe = false;
</script>
