
@{
    ViewBag.Title = "Quản lí quét tài liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="/Admin">THƯ VIỆN SỐ</a>
            </div>
        </header>

        <div class="col-md-4">
            <div class="border-rounded-button">
                <a href="C:\Users\Kirito\Pictures\son mong tay.pdf">Quét văn bản</a>
            </div>
        </div>

        <section class="tables">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Danh sách đã quét:</h2>
                        </div>
                        <div class="default-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Thời gian</th>
                                        <th>...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Van_ban_hanh_chinh5.pdf</td>
                                        <td>10:50 12/01/2020</td>
                                        <td>
                                            <div class="filled-rectangle-button1">
                                                <a href="#">Lưu</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Van_ban_hanh_chinh4.pdf</td>
                                        <td>10:40 12/01/2020</td>
                                        <td>
                                            <div class="filled-rectangle-button1">
                                                <a href="#">Lưu</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Van_ban_hanh_chinh3.pdf</td>
                                        <td>10:38 12/01/2020</td>
                                        <td>
                                            <div class="filled-rectangle-button1">
                                                <a href="#">Lưu</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Van_ban_hanh_chinh2.pdf</td>
                                        <td>10:35 12/01/2020</td>
                                        <td>
                                            <div class="filled-rectangle-button1">
                                                <a href="#">Lưu</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Van_ban_hanh_chinh1.pdf</td>
                                        <td>10:30 12/01/2020</td>
                                        <td>
                                            <div class="filled-rectangle-button1">
                                                <a href="#">Lưu</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="table-pagination">
                                <li><a href="#">Trước</a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">Tiếp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>


    //var GetFileButton = false;
    //if (GetFileButton) {
    //    setTimeout(GetFiles(), 1000);
    //}
    //function GetFiles() {
        
    //}
</script>
