
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemThe</title>
</head>
<body>
    <form action="/Admin/ThemThe" method="post" enctype="multipart/form-data">
        <input placeholder="TENCHUTHE" name="TENCHUTHE" type="text"/>
        <input name="NGAYSINH" type="date" />
        <input name="DIACHI" type="text" />
        <input name="NGAYCAP" type="date" />
        <input name="NGAYHETHAN" type="date" />
        <input name="GIOITINH" type="number" />
        <input type="submit" value="Submit" />

    </form>
</body>
</html>
