
@{
    ViewBag.Title = "Thêm mới hoạt động";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-10">
            <h2 class="h3 mb-0">Thêm mới hoạt động</h2>
            <div class="card card-box">
            </div>
        </div>

        <div class="xs-pd-20-10 pd-ltr-20">
            <form method="post" enctype="multipart/form-data" action="/Admin/Themhoatdong">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input required name="TIEUDE" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Địa điểm</label>
                            <input required name="DIADIEM" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Thời gian bắt đầu</label>
                            <input required name="THOIGIANBATDAU" type="datetime-local" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Thời gian kết thúc</label>
                            <input required name="THOIGIANKETTHUC" class="form-control" type="datetime-local">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Hình ảnh 1</label>
                            <input id="hinhanh1" required name="hinhanh1" type="file" class="form-control" accept="image/*">
                            <img id="ha1" src="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Hình ảnh 2</label>
                            <input id="hinhanh2" name="hinhanh2" class="form-control" type="file" accept="image/*">
                            <img id="ha2" src="" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="html-editor pd-20 card-box mb-30">
                                <p>Nội dung (3000)</p>
                                <textarea maxlength="3000" required name="NOIDUNG" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Lưu" class="form-control" />
            </form>
        </div>


        <div style="height:40px"></div>



        <div class="footer-wrap pd-20 mb-20 card-box">
            Thư viện số hóa - <a href="/" target="_blank">Ban cơ yếu chính phủ</a>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function readURL(input,str) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+str).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#hinhanh1").change(function () {
        readURL(this,'ha1');
    });
    $("#hinhanh2").change(function () {
        readURL(this, 'ha2');
    });
</script>