<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <!-- Title -->
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link href="~/Content/ClientContent/images/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />*@
    <link href="~/Content/ClientContent/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Mobile Menu -->
    <link href="~/Content/ClientContent/css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ClientContent/css/mmenu.positioning.css" rel="stylesheet" type="text/css" />
    <!-- Stylesheet -->
    <link href="~/Content/ClientContent/style.css" rel="stylesheet" type="text/css" />

</head>
<body class="layout-v2">
    @{Html.RenderAction("HeaderSection", "Home"); }
    @{Html.RenderAction("SliderSection", "Home"); }
    @{Html.RenderAction("SearchSection", "Home"); }

    @RenderBody()





    <!-- Start: Footer -->
    <footer class="site-footer">
        <div class="container" style="height:50px">
            
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-text col-md-3">
                        <p><a target="_blank" href="/">Thư viện điện tử - Ban cơ yếu chính phủ</a></p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <ul>
                            <li><a href="/home">Trang chủ</a></li>
                            <li><a href="/sach">Sách &amp; Đa phương tiện</a></li>
                            <li><a href="/hoatdong">Tin tức &amp; Sự kiện</a></li>
                            <li><a href="/lienhe">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End: Footer -->
    <!-- jQuery Latest Version 1.x -->
    <script type="text/javascript" src="~/Content/ClientContent/js/jquery-1.12.4.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="~/Content/ClientContent/js/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script type="text/javascript" src="~/Content/ClientContent/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/Content/ClientContent/js/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="~/Content/ClientContent/js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="~/Content/ClientContent/js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="~/Content/ClientContent/js/waypoints.min.js"></script>
    <!-- Facts Counter -->
    <script type="text/javascript" src="~/Content/ClientContent/js/facts.counter.min.js"></script>
    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="~/Content/ClientContent/js/mixitup.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/Content/ClientContent/js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="~/Content/ClientContent/js/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="~/Content/ClientContent/js/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="~/Content/ClientContent/js/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="~/Content/ClientContent/js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="~/Content/ClientContent/js/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="~/Content/ClientContent/js/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/Content/ClientContent/js/main.js"></script>

    <script>
    function setSelectedPageNav() {
        var pathName = location.pathname.toLowerCase();
        var patt1 = new RegExp("/home");
        var patt2 = new RegExp("/sach");
        var patt3 = new RegExp("/hoatdong");
        var patt4 = new RegExp("/lienhe");
        // || pathName == "/"
        if (patt1.exec(pathName) != null) {
            $("#home-nav").css("color", "#84bb45");
        }
        else if (patt2.exec(pathName) != null) {
            $("#sach-nav").css("color", "#84bb45");
        }
        else if (patt3.exec(pathName) != null) {
            $("#hoatdong").css("color", "#84bb45");
        }
        else if (patt4.exec(pathName) != null) {
            $("#lienhe").css("color", "#84bb45");
        }

    }

    $(document).ready(function () {
        setSelectedPageNav();
    })
    </script>
</body>

</html>