<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Thư viện số - Admin</title>
    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/AdminContent/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/AdminContent/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/AdminContent/vendors/images/favicon-16x16.png">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminContent/vendors/styles/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    <div class="pre-loader">
        <div class="pre-loader-box">
            <div class="loader-logo"><img src="~/Content/AdminContent/vendors/images/deskapp-logo.svg" alt=""></div>
            <div class='loader-progress' id="progress_div">
                <div class='bar' id='bar1'></div>
            </div>
            <div class='percent' id='percent1'>0%</div>
            <div class="loading-text">
                Đang tải...
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            <div class="header-search">
                <form action="/Admin/Timkiemsach" method="post" enctype="multipart/form-data">
                    <div class="form-group mb-0">
                        <i class="dw dw-search2 search-icon"></i>
                        <input type="text" class="form-control search-input" placeholder="Nhập thông tin tìm kiếm" name="noidungnhap">
                        <div class="dropdown show">
                            <a class="dropdown-toggle no-arrow" role="button" data-toggle="dropdown" aria-expanded="true">
                                <i class="ion-arrow-down-c"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right show" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 3782px, 0px);" x-placement="bottom-end" x-out-of-boundaries="">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Loại sách</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm form-control-line" type="text" name="loaisach">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Lĩnh vực</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm form-control-line" type="text" name="linhvuc">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">Tác giả</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm form-control-line" type="text" name="tacgia">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <input class="btn btn-primary" value="Tìm" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="header-right">
            @{ 
               
                var session =  Session["Taikhoan"] as WebThuvien.Models.Entity.TAIKHOAN;

            }
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                            <img src="~/Content/AdminContent/vendors/images/photo1.jpg" alt="">
                        </span>
                        @if (session.TENTAIKHOAN != null)
                        {
                            <span class="user-name">@session.TENTAIKHOAN</span>

                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="#"><i class="dw dw-user1"></i>Thông tin</a>
                        <a class="dropdown-item" href="#"><i class="dw dw-help"></i> Thay đổi mật khẩu</a>
                        <a class="dropdown-item" href="/home/logout"><i class="dw dw-logout"></i> Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="left-side-bar">
        <div class="brand-logo">
            <a href="/">
                <img src="~/Content/AdminContent/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
                <img src="~/Content/AdminContent/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a href="/Admin" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Trang chủ</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-fast-forward-1"></span><span class="mtext">Sách</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/Admin/Sach">Danh mục sách</a></li>
                            <li><a href="/Admin/UploadSach">Thêm mới sách</a></li>
                            <li><a href="/Admin/MuonSach">Mượn sách</a></li>
                            <li><a href="/Admin/TraSach">Trả sách</a></li>
                            <li><a href="/Admin/DSTacgia">Danh sách tác giả</a></li>
                            <li><a href="/Admin/DSLinhvuc">Danh sách lĩnh vực</a></li>
                            <li><a href="/Admin/DSLoaisach">Danh sách loại sách</a></li>
                            <li><a href="/Admin/DSNXB">Danh sách nhà xuất bản</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-user1"></span><span class="mtext">Người dùng và thẻ</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="#">Danh sách người dùng</a></li>
                            <li><a href="#">Thêm mới người dùng</a></li>
                            <li><a href="#">Tạo và xuất mẫu thẻ</a></li>

                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-analytics-21"></span><span class="mtext">Thống kê và báo cáo</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="#">Sách xem nhiều</a></li>
                            <li><a href="#">Người dùng</a></li>
                            <li><a href="#">Thống kê chung</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="/home/Logout" target="_blank" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-paper-plane1"></span>
                            <span class="mtext"> Đăng xuất <img src="~/Content/AdminContent/vendors/images/coming-soon.png" alt="" width="25"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()
    <div class="mobile-menu-overlay"></div>

    <!-- js -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/AdminContent/vendors/scripts/core.js"></script>
    <script src="~/Content/AdminContent/vendors/scripts/script.min.js"></script>
    <script src="~/Content/AdminContent/vendors/scripts/process.js"></script>
    <script src="~/Content/AdminContent/vendors/scripts/layout-settings.js"></script>
    <script src="~/Content/AdminContent/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/Content/AdminContent/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminContent/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminContent/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminContent/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/AdminContent/vendors/scripts/dashboard3.js"></script>
    <script>
        $(document).ready(function () {
            if (error == '1') {
                alert("XÓA SÁCH KHÔNG THÀNH CÔNG");
            }
            else if (error == '0') {
                alert("XÓA SÁCH THÀNH CÔNG");
            }
        })
    </script>
</body>
</html>