@{
    Layout = null;
}    <!-- Start: Facts Counter -->
<div class="layout-v2-counter">
    <div class="facts-counter">
        <div class="container">
            <div class="row">
                <ul>
                    @{ int i = 0;}
                    @foreach (var item in ViewBag.list_loaisach)
                    {
                        <li class="color-@item.KIHIEU">
                            <div class="fact-item">
                                <div class="fact-icon">
                                    <i class="ebook"></i>
                                </div>
                                <span>@item.TENTHELOAI<strong class="fact-counter">@ViewBag.soluong[i]</strong></span>
                            </div>
                        </li>
                        i = i + 1;

                    }
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End: Facts Counter -->