@{
    Layout = null;
}  
  <!-- Start: Slider Section -->
<div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
    <!-- Carousel slides -->
    <div class="carousel-inner">
        <div class="item active">
            <figure>
                <img alt="Home Slide" src="~/Content/ClientContent/images/header-slider/home-v2/@ViewBag.sach1.HINHANH" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h3>Thế giới thư viện sách , khám phá ngay!</h3>
                    <h2>Tri thức vô tận</h2>
                    <p>Thư viện sách Online, cung cấp đến bạn những trải nghiệm tốt nhất , những cuốn sách tâm đắc nhất được tuyển chọn kĩ càng</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure>
                <img alt="Home Slide" src="~/Content/ClientContent/images/header-slider/home-v2/@ViewBag.sach1.HINHANH" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h3>Thế giới thư viện sách , khám phá ngay!</h3>
                    <h2>Tri thức vô tận</h2>
                    <p>Thư viện sách Online, cung cấp đến bạn những trải nghiệm tốt nhất , những cuốn sách tâm đắc nhất được tuyển chọn kĩ càng</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <figure>
                <img alt="Home Slide" src="~/Content/ClientContent/images/header-slider/home-v2/@ViewBag.sach1.HINHANH" />
            </figure>
            <div class="container">
                <div class="carousel-caption">
                    <h3>Thế giới thư viện sách , khám phá ngay!</h3>
                    <h2>Tri thức vô tận</h2>
                    <p>Thư viện sách Online, cung cấp đến bạn những trải nghiệm tốt nhất , những cuốn sách tâm đắc nhất được tuyển chọn kĩ càng</p>
                    <div class="slide-buttons hidden-sm hidden-xs">
                        <a href="#" class="btn btn-primary">Xem thêm</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-v1-header-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-v1-header-carousel" data-slide-to="1"></li>
        <li data-target="#home-v1-header-carousel" data-slide-to="2"></li>
    </ol>
</div>
<!-- End: Slider Section -->
